<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sungeon.bos.mapper.ISupplierMapper">
    <insert id="addSupplier" parameterType="Supplier" keyProperty="id">

	</insert>

	<insert id="addSupplierList">
		insert into c_supplier(id,code,name,feermain,account,email,mobil)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id,javaType=Long,jdbcType=BIGINT},
			 #{item.supplierCode, javaType=String, jdbcType=VARCHAR},
			 #{item.supplierName, javaType=String, jdbcType=VARCHAR},
			 #{item.supplierFeerPrice,javaType=Double,jdbcType=BIGINT},
			 #{item.supplierAccount, javaType=String, jdbcType=VARCHAR},
			 #{item.supplierEmail, javaType=String, jdbcType=VARCHAR},
			 #{item.supplierPhone, javaType=String, jdbcType=VARCHAR}
			 )
		</foreach>
	</insert>

	<select id="querySupplierByCode" resultType="Supplier">
		SELECT t.id,t.code,t.name,t.ACCOUNT,t.FEEREMAIN,t.EMAIL,t.MOBIL
		FROM c_supplier t
		WHERE t.code = #{supplierCode, javaType=String, jdbcType=VARCHAR}
	</select>

	<select id="querySupplierIdByCode" resultType="java.lang.Long">
		SELECT t.id
		FROM c_supplier t
		WHERE t.code = #{supplierCode, javaType=String, jdbcType=VARCHAR}
	</select>

</mapper>