<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sungeon.bos.mapper.ISupplierMapper">

	<select id="querySupplierIdByCode" resultType="Long">
		SELECT t.id
		FROM c_supplier t
		WHERE t.code = #{supplierCode, javaType=String, jdbcType=VARCHAR}
		   OR t.name = #{supplierCode, javaType=String, jdbcType=VARCHAR}
	</select>

</mapper>