<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sungeon.bos.mapper.ISupplierMapper">
    <insert id="addSupplier" parameterType="Supplier" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			SELECT get_sequences('c_supplier') AS id FROM dual
		</selectKey>
		insert into c_supplier(id,ad_client_id,ad_org_id,description,suptype,c_suppliertype_id,
							   code,name,feeremain,account,email,mobil
		)
		values( #{id},37,27,
		    	#{supplierType, javaType=String, jdbcType=VARCHAR},
		    	#{supplierTypeId, javaType=String, jdbcType=VARCHAR},
		    	#{description, javaType=String, jdbcType=VARCHAR},
				#{supplierCode, javaType=String, jdbcType=VARCHAR},
				#{supplierName, javaType=String, jdbcType=VARCHAR},
				#{supplierFeerPrice,javaType=Double,jdbcType=BIGINT},
				#{supplierAccount, javaType=String, jdbcType=VARCHAR},
				#{supplierEmail, javaType=String, jdbcType=VARCHAR},
				#{supplierPhone, javaType=String, jdbcType=VARCHAR})
	</insert>

	<select id="querySupplierByCode" resultType="Supplier">
		SELECT t.id,t.code,t.name,t.ACCOUNT,t.FEEREMAIN,t.EMAIL,t.MOBIL
		FROM c_supplier t
		WHERE t.code = #{supplierCode, javaType=String, jdbcType=VARCHAR}
	</select>

	<select id="querySupplierIdByCode" resultType="java.lang.Long">
		SELECT t.id
		FROM c_supplier t
		WHERE t.code = #{supplierCode, javaType=String, jdbcType=VARCHAR}
	</select>

</mapper>